[submodule "external/ipython_extensions"]
	path = external/ipython_extensions
	url = https://github.com/minrk/ipython_extensions.git
[submodule "external/nbupload"]
	path = external/nbupload
	url = https://github.com/edvakf/nbupload.git
[submodule "external/barnes-hut-sne"]
	path = external/barnes-hut-sne
	url = https://github.com/ninjin/barnes-hut-sne.git
