/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

<style>
tr:nth-child(even){
	background-color: #ccc;
}
tr:nth-child(odd){
	background-color: white;
}
table, th, td{
	border: 1px solid #ccc;
}

</style>
